{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Hello World</h1>

{% else %}

<h1>Login</h1>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username", placeholder="Input Username Here" required>
    
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="inputPassword", placeholder="Input Password Here" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

{% endif %}

{% endblock %}