{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}

<h2>Records</h2>

<table class="table table-striped-columns table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    
    {% if records %}
      {% for record in records %}
      <tr>  
        <td><a href="{% url 'record' record.id %}">{{ record.first_name }}</a></td>
        <td>{{ record.last_name }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.city }}</td>
        <td>{{ record.address }}</td>
      </tr>
      {% endfor %}
    {% endif %}

    
  </tbody>
</table>


{% else %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username", placeholder="Input Username Here" required>
    
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="inputPassword", placeholder="Input Password Here" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

{% endif %}

{% endblock %}